Repository CollegeTalk/CollegeTalk: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger_frontend_pipeline, trigger_api_pipeline

trigger_frontend_pipeline:
  stage: triggers
  trigger:
    include: Code/frontend/.gitlab-ci.yml
    strategy: depend

trigger_api_pipeline:
  stage: triggers
  trigger:
    include: Code/api/.gitlab-ci.yml
    strategy: depend

use first for get, first_or_404 for put
  Code/api/api/routes/Item.py
  Code/api/api/routes/Post.py
  Code/api/api/routes/Subgroup.py
Due: trigger_api_pipeline

Update .gitlab-ci.yml
  Code/frontend/.gitlab-ci.yml
Due: trigger_frontend_pipeline

Add expo-updates back again
  Code/frontend/package-lock.json
  Code/frontend/package.json
Due: trigger_frontend_pipeline

Adding Dividers into the scroll view along with title styling.
  Code/frontend/src/components/Home/PostsFeed.tsx
Due: trigger_frontend_pipeline

Fixed useEffect method
  Code/frontend/src/components/Home/PostsFeed.tsx
Due: trigger_frontend_pipeline

added sprint2 burndown chart
  Artifacts/Agile/Sprint2Burndown.png
Due: none

added refresh functionality, reworked post cards, feed, and home screen
  Code/frontend/.eslintrc.js
  Code/frontend/src/components/Home/PostCard.tsx
  Code/frontend/src/components/Home/PostsFeed.tsx
  Code/frontend/src/screens/CreatePostScreen.tsx
  Code/frontend/src/screens/HomeScreen.tsx
Due: trigger_frontend_pipeline

minor bug fixes
  Code/frontend/babel.config.js
  Code/frontend/src/navigation/HomeDrawerNavigator.tsx
Due: trigger_frontend_pipeline

updated sprint2 chart
  Artifacts/Agile/Sprint2Burndown.png
Due: none

bug fixes with fetch for homescreen and createpost
  Code/api/api/models/SubgroupModel.py
  Code/frontend/.eslintrc.js
  Code/frontend/package-lock.json
  Code/frontend/package.json
  Code/frontend/src/components/CreatePost/CreatePost.tsx
  Code/frontend/src/screens/HomeScreen.tsx
Due: trigger_frontend_pipeline, trigger_api_pipeline

Update README.md
  Code/api/README.md
Due: trigger_api_pipeline

updated README.md and added UI design for homepage
  Artifacts/Conceptual_Designs/70d023c45bd84d94a71893eb7bf91a5b.jpeg
  Code/api/README.md
Due: trigger_api_pipeline

Setup db migration command in flask
  Code/api/api/__init__.py
  Code/api/api/config.py
  Code/api/api/migration.py
  Code/api/migrations/README
  Code/api/migrations/alembic.ini
  Code/api/migrations/env.py
  Code/api/migrations/script.py.mako
Due: trigger_api_pipeline

api fixes, added comment model + routes
  Code/api/api/models/CommentModel.py
  Code/api/api/models/SubgroupModel.py
  Code/api/api/models/__init__.py
  Code/api/api/routes/Comment.py
  Code/api/api/routes/Comments.py
  Code/api/api/routes/Post.py
  Code/api/api/routes/Posts.py
  Code/api/api/routes/Subgroup.py
  Code/api/api/routes/__init__.py
Due: trigger_api_pipeline

small changes to homescreen styling
  .gitignore
  Code/frontend/src/components/CreatePost/InputField.tsx
  Code/frontend/src/components/Home/PostCard.tsx
  Code/frontend/src/screens/HomeScreen.tsx
Due: trigger_frontend_pipeline

fixed gitignore to ignore .vscode
  .gitignore
  .vscode/settings.json
Due: none

modified gitignore and eslint for env variables
  Code/frontend/.eslintrc.js
  Code/frontend/.gitignore
Due: trigger_frontend_pipeline

working on env variables, need documentation
  Code/frontend/babel.config.js
  Code/frontend/eas.json
  Code/frontend/package-lock.json
  Code/frontend/package.json
  Code/frontend/src/components/CreatePost/CreatePost.tsx
  Code/frontend/src/hooks/useCachedResources.ts
  Code/frontend/src/screens/HomeScreen.tsx
Due: trigger_frontend_pipeline

added upvotes functionality, update in db
  Code/frontend/src/components/CreatePost/CreatePost.tsx
  Code/frontend/src/components/Home/PostCard.tsx
  Code/frontend/src/components/Home/PostsFeed.tsx
  Code/frontend/src/screens/HomeScreen.tsx
Due: trigger_frontend_pipeline

PostScreen navigation
  Code/frontend/babel.config.js
  Code/frontend/package-lock.json
  Code/frontend/package.json
  Code/frontend/src/components/Home/HeaderLeft.tsx
  Code/frontend/src/components/Home/PostCard.tsx
  Code/frontend/src/components/Home/PostsFeed.tsx
  Code/frontend/src/navigation/BottomTabNavigator.tsx
  Code/frontend/src/navigation/HomeDrawerNavigator.tsx
  Code/frontend/src/navigation/HomeStack.tsx
  Code/frontend/src/navigation/LinkingConfiguration.ts
  Code/frontend/src/screens/HomeScreen.tsx
  Code/frontend/src/screens/PostScreen.tsx
  Code/frontend/src/screens/ProfileScreen.tsx
  Code/frontend/types.tsx
Due: trigger_frontend_pipeline

Create python script and sql file for generating dummy data in db
  Code/database/create_table.py
  Code/database/dummy_table_data.sql
  Code/database/fill_tables.py
  Code/database/old_create_table.py
  Code/database/posts_dummy_file.sql
Due: none

Add note in docstring
  Code/database/fill_tables.py
Due: none

added comment input and comment cards to post screen
  Code/api/api/routes/Comments.py
  Code/frontend/.eslintrc.js
  Code/frontend/package-lock.json
  Code/frontend/package.json
  Code/frontend/src/components/CreatePost/CreatePost.tsx
  Code/frontend/src/components/CreatePost/InputField.tsx
  Code/frontend/src/components/Home/HeaderLeft.tsx
  Code/frontend/src/components/Home/HeaderTitle.tsx
  Code/frontend/src/components/Home/PostCard.tsx
  Code/frontend/src/components/Post/CommentCard.tsx
  Code/frontend/src/components/Post/CommentInput.tsx
  Code/frontend/src/navigation/BottomTabNavigator.tsx
  Code/frontend/src/screens/CreatePostScreen.tsx
  Code/frontend/src/screens/HomeScreen.tsx
  Code/frontend/src/screens/PostScreen.tsx
  Code/frontend/types.tsx
Due: trigger_frontend_pipeline, trigger_api_pipeline

reworked upvotes for posts, update upvotes in db for comments
  Code/frontend/.eslintrc.js
  Code/frontend/src/components/Home/PostCard.tsx
  Code/frontend/src/components/Home/PostsFeed.tsx
  Code/frontend/src/components/Post/CommentCard.tsx
  Code/frontend/src/screens/HomeScreen.tsx
  Code/frontend/src/screens/PostScreen.tsx
  Code/frontend/types.tsx
Due: trigger_frontend_pipeline

added mock users, linked posts and subgroups to users
  Code/api/api/models/CommentModel.py
  Code/api/api/models/PostModel.py
  Code/api/api/models/SubgroupModel.py
  Code/api/api/models/SubgroupUsersModel.py
  Code/api/api/models/UserModel.py
  Code/api/api/models/__init__.py
  Code/api/api/routes/Comments.py
  Code/api/api/routes/Subgroups.py
  Code/api/api/routes/User.py
  Code/api/api/routes/Users.py
  Code/api/api/routes/__init__.py
  Code/frontend/src/components/CreatePost/CreatePost.tsx
  Code/frontend/src/components/CreatePost/InputField.tsx
  Code/frontend/src/components/Post/CommentInput.tsx
  Code/frontend/src/screens/CreatePostScreen.tsx
  Code/frontend/src/screens/ProfileScreen.tsx
  Code/frontend/types.tsx
Due: trigger_frontend_pipeline, trigger_api_pipeline

Adding the Select Dropdown into the create post screen.
  Code/frontend/package-lock.json
  Code/frontend/package.json
  Code/frontend/src/components/CreatePost/CreatePost.tsx
Due: trigger_frontend_pipeline

Fixing alignment of the dropdown and customizing the group names.
  Code/frontend/src/components/CreatePost/CreatePost.tsx
Due: trigger_frontend_pipeline

updated db models, fixed model relationships
  Code/api/api/models/CommentModel.py
  Code/api/api/models/PostModel.py
  Code/api/api/models/SubgroupModel.py
  Code/api/api/models/SubgroupUsersModel.py
  Code/api/api/models/UserModel.py
  Code/api/api/models/UsersJoinedSubgroupsModel.py
  Code/api/api/models/UsersUpvotedCommentsModel.py
  Code/api/api/models/UsersUpvotedPostsModel.py
  Code/api/api/models/__init__.py
  Code/api/api/routes/utils.py
  Code/frontend/App.tsx
  Code/frontend/UserContext.ts
  Code/frontend/src/components/CreatePost/CreatePost.tsx
  Code/frontend/src/components/Post/CommentInput.tsx
  Code/frontend/src/screens/HomeScreen.tsx
  Code/frontend/src/screens/ProfileScreen.tsx
  Code/frontend/types.tsx
Due: trigger_frontend_pipeline, trigger_api_pipeline

updated snapshot for inputfield test
  Code/frontend/src/components/__tests__/__snapshots__/InputField.test.tsx.snap
Due: trigger_frontend_pipeline

implemented fetching, refreshing, and updating on load, focus, and blur
  Code/api/api/models/UsersJoinedSubgroupsModel.py
  Code/api/api/models/UsersUpvotedCommentsModel.py
  Code/api/api/models/UsersUpvotedPostsModel.py
  Code/api/api/routes/Comments.py
  Code/api/api/routes/Post.py
  Code/api/api/routes/Posts.py
  Code/api/api/routes/utils.py
  Code/frontend/.gitlab-ci.yml
  Code/frontend/App.tsx
  Code/frontend/UserContext.ts
  Code/frontend/src/components/CreatePost/CreatePost.tsx
  Code/frontend/src/components/Post/CommentInput.tsx
  Code/frontend/src/screens/HomeScreen.tsx
  Code/frontend/src/screens/ProfileScreen.tsx
  Code/frontend/types.tsx
Due: trigger_frontend_pipeline, trigger_api_pipeline

fixed fetching issues and db updating for upvotes
  Code/api/api/models/CommentModel.py
  Code/api/api/models/PostModel.py
  Code/api/api/models/SubgroupModel.py
  Code/api/api/models/UserModel.py
  Code/api/api/models/UsersJoinedSubgroupsModel.py
  Code/api/api/models/UsersUpvotedCommentsModel.py
  Code/api/api/models/UsersUpvotedPostsModel.py
  Code/api/api/routes/Posts.py
  Code/api/api/routes/utils.py
  Code/frontend/App.tsx
  Code/frontend/UserContext.ts
  Code/frontend/src/components/CreatePost/CreatePost.tsx
  Code/frontend/src/components/Home/PostCard.tsx
  Code/frontend/src/screens/HomeScreen.tsx
  Code/frontend/src/screens/ProfileScreen.tsx
  Code/frontend/types.tsx
Due: trigger_frontend_pipeline, trigger_api_pipeline

implemented comment authors, upvotes
  Code/api/api/routes/Comments.py
  Code/api/api/routes/Post.py
  Code/api/api/routes/utils.py
  Code/frontend/src/components/Home/HeaderTitle.tsx
  Code/frontend/src/components/Home/PostCard.tsx
  Code/frontend/src/components/Home/PostsFeed.tsx
  Code/frontend/src/components/Post/CommentCard.tsx
  Code/frontend/src/components/Post/CommentInput.tsx
  Code/frontend/src/screens/HomeScreen.tsx
  Code/frontend/src/screens/PostScreen.tsx
  Code/frontend/src/screens/ProfileScreen.tsx
  Code/frontend/types.tsx
Due: trigger_frontend_pipeline, trigger_api_pipeline

api passes all tests, fixed errors in api routes and models
  Code/api/api/routes/Post.py
  Code/api/tests/test_post_model.py
Due: trigger_api_pipeline

updated pip requirements.txt
  Code/api/requirements.txt
Due: trigger_api_pipeline

added tests to test_post_model
  Code/api/tests/test_post_model.py
Due: trigger_api_pipeline

updated requirments-dev
  Code/api/requirements-dev.txt
  Code/api/tests/test_post_model.py
Due: trigger_api_pipeline

implemented subgroups screen and individual subgroup screen
  Code/api/api/routes/Comments.py
  Code/api/api/routes/Posts.py
  Code/api/api/routes/Subgroups.py
  Code/frontend/package-lock.json
  Code/frontend/src/components/CreatePost/InputField.tsx
  Code/frontend/src/components/Home/HeaderLeft.tsx
  Code/frontend/src/components/Home/HeaderTitle.tsx
  Code/frontend/src/components/Home/PostCard.tsx
  Code/frontend/src/components/Home/PostsFeed.tsx
  Code/frontend/src/components/Post/CommentInput.tsx
  Code/frontend/src/navigation/BottomTabNavigator.tsx
  Code/frontend/src/navigation/HomeDrawerNavigator.tsx
  Code/frontend/src/navigation/HomeStack.tsx
  Code/frontend/src/navigation/LinkingConfiguration.ts
  Code/frontend/src/screens/HomeDrawerScreen.tsx
  Code/frontend/src/screens/PostScreen.tsx
  Code/frontend/src/screens/SubgroupScreen.tsx
  Code/frontend/src/screens/SubgroupsScreen.tsx
  Code/frontend/types.tsx
Due: trigger_frontend_pipeline, trigger_api_pipeline

Path conditions:
  trigger_frontend_pipeline: any of: Code/frontend/**/*
  trigger_api_pipeline: any of: Code/api/**/*
