Repository CollegeTalk/CollegeTalk: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger_frontend_pipeline, trigger_api_pipeline

.gitlab-ci.yml:

stages:
    - triggers

trigger_frontend_pipeline:
    stage: triggers
    trigger:
        include: Code/frontend/.gitlab-ci.yml
    only:
        changes:
            - Code/frontend/**/*


trigger_api_pipeline:
    stage: triggers
    trigger:
        include: Code/api/.gitlab-ci.yml
    only:
        changes:
            - Code/api/**/*

Refactor api to use app factory, add recreate-db flask command
  Code/api/.flaskenv
  Code/api/api/app.py
  Code/api/api/config.py
  Code/api/api/models/ItemModel.py
  Code/api/api/models/PostModel.py
  Code/api/api/models/SubgroupModel.py
  Code/api/api/models/__init__.py
  Code/api/api/models/base.py
  Code/api/api/routes/Comment.py
  Code/api/api/routes/Index.py
  Code/api/api/routes/Item.py
  Code/api/api/routes/Items.py
  Code/api/api/routes/Post.py
  Code/api/api/routes/Posts.py
  Code/api/api/routes/Subgroup.py
  Code/api/api/routes/Subgroups.py
  Code/api/api/routes/User.py
  Code/api/api/routes/__init__.py
  Code/api/api/routes/base.py
  Code/api/api/routes/utils.py
  Code/api/app.py
  Code/api/main.py
Due: trigger_api_pipeline

Update Docker to automatically recreate database
  Code/api/scripts/docker_script.sh
  Code/docker-compose.yml
Due: trigger_api_pipeline

Setup files for tests
  Code/api/.gitignore
  Code/api/api/__init__.py
  Code/api/api/config.py
  Code/api/main.py
  Code/api/requirements-dev.txt
  Code/api/tests/conftest.py
Due: trigger_api_pipeline

working home screen drawer implementation
  Code/frontend/App.tsx
  Code/frontend/README.md
  Code/frontend/babel.config.js
  Code/frontend/package-lock.json
  Code/frontend/package.json
  Code/frontend/src/navigation/LinkingConfiguration.ts
  Code/frontend/src/navigation/index.tsx
  Code/frontend/src/screens/CreatePostScreen.tsx
  Code/frontend/src/screens/HomeDrawerScreen.tsx
  Code/frontend/src/screens/HomeScreen.tsx
  Code/frontend/types.tsx
Due: trigger_frontend_pipeline

working on formatting search bar
  Code/frontend/package-lock.json
  Code/frontend/package.json
  Code/frontend/patches/@rneui+base+4.0.0-rc.1.patch
  Code/frontend/src/navigation/index.tsx
  Code/frontend/src/screens/HomeScreen.tsx
Due: trigger_frontend_pipeline

home screen drawer screen done
  Code/frontend/src/navigation/BottomTabNavigator.tsx
  Code/frontend/src/navigation/HomeDrawerNavigator.tsx
  Code/frontend/src/navigation/index.tsx
  Code/frontend/src/screens/HomeDrawerScreen.tsx
Due: trigger_frontend_pipeline

Create pytest suite with one test, switch to black code formatter (double quotes), update ci/cd for api test
  Code/api/.flaskenv
  Code/api/.gitlab-ci.yml
  Code/api/api/__init__.py
  Code/api/api/config.py
  Code/api/api/models/ItemModel.py
  Code/api/api/models/PostModel.py
  Code/api/api/models/SubgroupModel.py
  Code/api/api/models/__init__.py
  Code/api/api/routes/Index.py
  Code/api/api/routes/Item.py
  Code/api/api/routes/Items.py
  Code/api/api/routes/Post.py
  Code/api/api/routes/Posts.py
  Code/api/api/routes/Subgroup.py
  Code/api/api/routes/Subgroups.py
  Code/api/api/routes/__init__.py
  Code/api/api/routes/utils.py
  Code/api/app.py
  Code/api/main.py
  Code/api/requirements-dev.txt
  Code/api/requirements.txt
  Code/api/setup.cfg
  Code/api/tests/__init__.py
  Code/api/tests/conftest.py
  Code/api/tests/test_post_model.py
Due: trigger_api_pipeline

Install postgres in pipeline
  Code/api/.gitlab-ci.yml
Due: trigger_api_pipeline

Update postgres install command pipeline
  Code/api/.gitlab-ci.yml
Due: trigger_api_pipeline

Update .gitlab-ci.yml
  Code/api/.gitlab-ci.yml
Due: trigger_api_pipeline

refining touches on drawer, added profile animatino
  Code/frontend/src/assets/animations/20860-person-on-laptop-working-on-laptop.json
  Code/frontend/src/navigation/BottomTabNavigator.tsx
  Code/frontend/src/screens/HomeDrawerScreen.tsx
  Code/frontend/src/screens/HomeScreen.tsx
  Code/frontend/src/screens/ProfileScreen.tsx
Due: trigger_frontend_pipeline

refining touches on drawer, added profile animation
  Code/frontend/src/assets/animations/20860-person-on-laptop-working-on-laptop.json
  Code/frontend/src/navigation/BottomTabNavigator.tsx
  Code/frontend/src/screens/HomeDrawerScreen.tsx
  Code/frontend/src/screens/HomeScreen.tsx
  Code/frontend/src/screens/ProfileScreen.tsx
Due: trigger_frontend_pipeline

Test update api pipeline
  Code/api/.gitlab-ci.yml
Due: trigger_api_pipeline

Complete tests for post model
  Code/api/requirements-dev.txt
  Code/api/tests/test_post_model.py
Due: trigger_api_pipeline

added posts feed component, function to fetch posts
  Code/frontend/package-lock.json
  Code/frontend/package.json
  Code/frontend/src/components/CreatePost/CreatePost.tsx
  Code/frontend/src/components/CreatePost/InputField.tsx
  Code/frontend/src/components/Home/PostsFeed.tsx
  Code/frontend/src/screens/HomeScreen.tsx
  Code/frontend/tsconfig.json
  Code/frontend/types.tsx
Due: trigger_frontend_pipeline

Add test stubs for error states
  Code/api/tests/test_post_model.py
Due: trigger_api_pipeline

Update README.md
  Code/api/README.md
Due: trigger_api_pipeline

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Add new file
  Code/api/.gitlab-ci-mr.yml
Due: trigger_api_pipeline

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

Delete .gitlab-ci-mr.yml
  Code/api/.gitlab-ci-mr.yml
Due: trigger_api_pipeline

edited PUT routes (only update)
  Code/api/models/SubgroupModel.py
  Code/api/routes/Item.py
  Code/api/routes/Post.py
  Code/api/routes/Subgroup.py
Due: trigger_api_pipeline

revamped create post screen, bug with input padding
  Code/frontend/src/components/CreatePost/CreatePost.tsx
  Code/frontend/src/components/CreatePost/InputField.tsx
  Code/frontend/src/screens/CreatePostScreen.tsx
  Code/frontend/src/screens/HomeScreen.tsx
Due: trigger_frontend_pipeline

created ProfileScreen and README for frontend
  Code/frontend/README.md
  Code/frontend/src/navigation/LinkingConfiguration.ts
  Code/frontend/src/navigation/index.tsx
  Code/frontend/src/screens/CreatePostScreen.tsx
  Code/frontend/src/screens/ProfileScreen.tsx
  Code/frontend/types.tsx
Due: trigger_frontend_pipeline
