Repository CollegeTalk/CollegeTalk: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test_frontend, test_api, staging_api_container

test_frontend:
  stage: test
  image: node:alpine
  script:
  - cd Code/frontend
  - npm ci
  - npx jest --ci

test_api:
  stage: test
  script:
  - echo "Testing api"

staging_api_container:
  stage: staging
  image: mcr.microsoft.com/azure-cli
  variables:
    SP_APP_ID: $SP_APP_ID
    SP_PASSWORD: $SP_PASSWORD
    SP_TENANT: $SP_TENANT
  script:
  - cd Code/api
  - az login --service-principal -u $SP_APP_ID -p $SP_PASSWORD --tenant $SP_TENANT
  ...

refactored model files
  Code/api/models/ItemModel.py
  Code/api/models/PostModel.py
  Code/api/models/__init__.py
  Code/api/routes/Item.py
  Code/api/routes/ItemList.py
  Code/api/routes/Post.py
  Code/api/routes/PostList.py
  Code/frontend/app.json
  Code/frontend/package-lock.json
Due: test_frontend, test_api, staging_api_container

refactored code, added styling packages
  Code/frontend/.eslintrc.js
  Code/frontend/package-lock.json
  Code/frontend/package.json
  Code/frontend/src/assets/animations/457-moving-bus.json
  Code/frontend/src/components/CreatePost/CreatePost.tsx
  Code/frontend/src/components/CreatePost/CreatePostButton.tsx
  Code/frontend/src/components/CreatePost/CreatePostTextBox.tsx
  Code/frontend/src/components/CreatePost/CreatePostTitle.tsx
  Code/frontend/src/components/CreatePost/InputField.tsx
  Code/frontend/src/components/__tests__/CreatePostTitle.test.tsx
  Code/frontend/src/constants/Colors.ts
  Code/frontend/src/navigation/LinkingConfiguration.ts
  Code/frontend/src/navigation/index.tsx
  Code/frontend/src/screens/CreatePostScreen.tsx
  Code/frontend/src/screens/HomeScreen.tsx
  Code/frontend/src/screens/TabOneScreen.tsx
  Code/frontend/src/screens/TabTwoScreen.tsx
  Code/frontend/tsconfig.json
  Code/frontend/types.tsx
Due: test_frontend

added limit to returning posts
  Code/api/routes/PostList.py
Due: test_api, staging_api_container

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

Update npm test command in ci pipeline
  .gitlab-ci.yml
Due: none

Update .gitlab-ci.yml file
  .gitlab-ci.yml
  Code/api/routes/PostList.py
Due: test_api, staging_api_container

Temporarily remove "only" for testing ci pipeline
  .gitlab-ci.yml
Due: none

Revert npm test command
  .gitlab-ci.yml
Due: none

Add install for expo-cli in cd pipeline
  .gitlab-ci.yml
Due: none

Restore only for frontend test
  .gitlab-ci.yml
Due: none

added new fields to post model, changed " to ' for py files
  Code/api/app.py
  Code/api/config.py
  Code/api/models/ItemModel.py
  Code/api/models/PostModel.py
  Code/api/models/__init__.py
  Code/api/routes/Home.py
  Code/api/routes/Item.py
  Code/api/routes/Post.py
  Code/api/routes/PostList.py
  Code/api/routes/__init__.py
  Code/database/create_table.py
Due: test_api, staging_api_container

Finalize frontend ci/cd pipeline
  .gitlab-ci.yml
  Code/frontend/app.json
Due: test_frontend

Add expo-updates package
  Code/frontend/package.json
Due: test_frontend

New package-lock frontend
  Code/frontend/package-lock.json
Due: test_frontend

added subgroups, refactored routes and files
  Code/api/app.py
  Code/api/models/PostModel.py
  Code/api/models/SubgroupModel.py
  Code/api/models/__init__.py
  Code/api/routes/Index.py
  Code/api/routes/Item.py
  Code/api/routes/Items.py
  Code/api/routes/Post.py
  Code/api/routes/Posts.py
  Code/api/routes/Subgroup.py
  Code/api/routes/Subgroups.py
  Code/api/routes/__init__.py
  Code/api/routes/utils.py
Due: test_api, staging_api_container

Add lint to pipeline
  .gitlab-ci.yml
Due: none

Remove only to test pipeline
  .gitlab-ci.yml
Due: none

Restore only in pipeline
  .gitlab-ci.yml
Due: none

revamped create post screen, bug with input padding
  Code/frontend/src/components/CreatePost/CreatePost.tsx
  Code/frontend/src/components/CreatePost/InputField.tsx
  Code/frontend/src/screens/CreatePostScreen.tsx
  Code/frontend/src/screens/HomeScreen.tsx
Due: test_frontend

created ProfileScreen and README for frontend
  Code/frontend/README.md
  Code/frontend/src/navigation/LinkingConfiguration.ts
  Code/frontend/src/navigation/index.tsx
  Code/frontend/src/screens/CreatePostScreen.tsx
  Code/frontend/src/screens/ProfileScreen.tsx
  Code/frontend/types.tsx
  README.md
Due: test_frontend

Convert to DAG + parent child pipelines
  .gitlab-ci.yml
  Code/api/.gitlab-ci.yml
  Code/frontend/.gitlab-ci.yml
Due: test_frontend, test_api, staging_api_container

Update READMEs to test pipeline
  Code/api/README.md
  Code/frontend/README.md
Due: test_frontend, test_api, staging_api_container

Update READMEs to test pipelines
  Code/api/README.md
  Code/frontend/README.md
Due: test_frontend, test_api, staging_api_container

Update Code/api/.gitlab-ci.yml
  Code/api/.gitlab-ci.yml
Due: test_api, staging_api_container

Replace rules with only in pipelines
  Code/api/.gitlab-ci.yml
  Code/frontend/.gitlab-ci.yml
Due: test_frontend, test_api, staging_api_container

Change pushes rule to branches rule
  Code/api/.gitlab-ci.yml
  Code/frontend/.gitlab-ci.yml
Due: test_frontend, test_api, staging_api_container

Add cd to directory for pipelines
  Code/api/.gitlab-ci.yml
  Code/frontend/.gitlab-ci.yml
Due: test_frontend, test_api, staging_api_container

Remove extra script lines in frontend pipeline
  Code/frontend/.gitlab-ci.yml
Due: test_frontend

Update .gitlab-ci.yml file to have status depend on downstream pipelines
  .gitlab-ci.yml
Due: none

Update ci/cd README.md
  Artifacts/CI_CD/README.md
Due: none

Add pipeline image
  Artifacts/CI_CD/cicdpipeline.png
Due: none

Path conditions:
  test_frontend: any of: Code/frontend/**/*
  test_api: any of: Code/api/**/*
  staging_api_container: any of: Code/api/**/*
