Repository CollegeTalk/CollegeTalk: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger_frontend_pipeline, trigger_api_pipeline

trigger_frontend_pipeline:
  stage: triggers
  trigger:
    include: Code/frontend/.gitlab-ci.yml
    strategy: depend

trigger_api_pipeline:
  stage: triggers
  trigger:
    include: Code/api/.gitlab-ci.yml
    strategy: depend

Adding changes to create post with subgroups.
  Code/frontend/src/components/CreatePost/CreatePost.tsx
Due: trigger_frontend_pipeline

updated db models, fixed model relationships
  Code/api/api/models/CommentModel.py
  Code/api/api/models/PostModel.py
  Code/api/api/models/SubgroupModel.py
  Code/api/api/models/SubgroupUsersModel.py
  Code/api/api/models/UserModel.py
  Code/api/api/models/UsersJoinedSubgroupsModel.py
  Code/api/api/models/UsersUpvotedCommentsModel.py
  Code/api/api/models/UsersUpvotedPostsModel.py
  Code/api/api/models/__init__.py
  Code/api/api/routes/utils.py
  Code/frontend/App.tsx
  Code/frontend/UserContext.ts
  Code/frontend/src/components/CreatePost/CreatePost.tsx
  Code/frontend/src/components/Post/CommentInput.tsx
  Code/frontend/src/screens/HomeScreen.tsx
  Code/frontend/src/screens/ProfileScreen.tsx
  Code/frontend/types.tsx
Due: trigger_frontend_pipeline, trigger_api_pipeline

updated snapshot for inputfield test
  Code/frontend/src/components/__tests__/__snapshots__/InputField.test.tsx.snap
Due: trigger_frontend_pipeline

working on env variables, need documentation
  Code/frontend/babel.config.js
  Code/frontend/eas.json
  Code/frontend/package-lock.json
  Code/frontend/package.json
  Code/frontend/src/components/CreatePost/CreatePost.tsx
  Code/frontend/src/hooks/useCachedResources.ts
  Code/frontend/src/screens/HomeScreen.tsx
Due: trigger_frontend_pipeline

fixed fetching issues and db updating for upvotes
  Code/api/api/models/CommentModel.py
  Code/api/api/models/PostModel.py
  Code/api/api/models/SubgroupModel.py
  Code/api/api/models/UserModel.py
  Code/api/api/models/UsersJoinedSubgroupsModel.py
  Code/api/api/models/UsersUpvotedCommentsModel.py
  Code/api/api/models/UsersUpvotedPostsModel.py
  Code/api/api/routes/Posts.py
  Code/api/api/routes/utils.py
  Code/frontend/App.tsx
  Code/frontend/UserContext.ts
  Code/frontend/src/components/CreatePost/CreatePost.tsx
  Code/frontend/src/components/Home/PostCard.tsx
  Code/frontend/src/screens/HomeScreen.tsx
  Code/frontend/src/screens/ProfileScreen.tsx
  Code/frontend/types.tsx
Due: trigger_frontend_pipeline, trigger_api_pipeline

fixed gitignore to ignore .vscode
  .gitignore
  .vscode/settings.json
Due: none

api passes all tests, fixed errors in api routes and models
  Code/api/api/routes/Post.py
  Code/api/tests/test_post_model.py
Due: trigger_api_pipeline

implemented comment authors, upvotes
  Code/api/api/routes/Comments.py
  Code/api/api/routes/Post.py
  Code/api/api/routes/utils.py
  Code/frontend/src/components/Home/HeaderTitle.tsx
  Code/frontend/src/components/Home/PostCard.tsx
  Code/frontend/src/components/Home/PostsFeed.tsx
  Code/frontend/src/components/Post/CommentCard.tsx
  Code/frontend/src/components/Post/CommentInput.tsx
  Code/frontend/src/screens/HomeScreen.tsx
  Code/frontend/src/screens/PostScreen.tsx
  Code/frontend/src/screens/ProfileScreen.tsx
  Code/frontend/types.tsx
Due: trigger_frontend_pipeline, trigger_api_pipeline

reworked upvotes for posts, update upvotes in db for comments
  Code/frontend/.eslintrc.js
  Code/frontend/src/components/Home/PostCard.tsx
  Code/frontend/src/components/Home/PostsFeed.tsx
  Code/frontend/src/components/Post/CommentCard.tsx
  Code/frontend/src/screens/HomeScreen.tsx
  Code/frontend/src/screens/PostScreen.tsx
  Code/frontend/types.tsx
Due: trigger_frontend_pipeline

implemented subgroups screen and individual subgroup screen
  Code/api/api/routes/Comments.py
  Code/api/api/routes/Posts.py
  Code/api/api/routes/Subgroups.py
  Code/frontend/package-lock.json
  Code/frontend/src/components/CreatePost/InputField.tsx
  Code/frontend/src/components/Home/HeaderLeft.tsx
  Code/frontend/src/components/Home/HeaderTitle.tsx
  Code/frontend/src/components/Home/PostCard.tsx
  Code/frontend/src/components/Home/PostsFeed.tsx
  Code/frontend/src/components/Post/CommentInput.tsx
  Code/frontend/src/navigation/BottomTabNavigator.tsx
  Code/frontend/src/navigation/HomeDrawerNavigator.tsx
  Code/frontend/src/navigation/HomeStack.tsx
  Code/frontend/src/navigation/LinkingConfiguration.ts
  Code/frontend/src/screens/HomeDrawerScreen.tsx
  Code/frontend/src/screens/PostScreen.tsx
  Code/frontend/src/screens/SubgroupScreen.tsx
  Code/frontend/src/screens/SubgroupsScreen.tsx
  Code/frontend/types.tsx
Due: trigger_frontend_pipeline, trigger_api_pipeline

api fixes, added comment model + routes
  Code/api/api/models/CommentModel.py
  Code/api/api/models/SubgroupModel.py
  Code/api/api/models/__init__.py
  Code/api/api/routes/Comment.py
  Code/api/api/routes/Comments.py
  Code/api/api/routes/Post.py
  Code/api/api/routes/Posts.py
  Code/api/api/routes/Subgroup.py
  Code/api/api/routes/__init__.py
Due: trigger_api_pipeline

added upvotes functionality, update in db
  Code/frontend/src/components/CreatePost/CreatePost.tsx
  Code/frontend/src/components/Home/PostCard.tsx
  Code/frontend/src/components/Home/PostsFeed.tsx
  Code/frontend/src/screens/HomeScreen.tsx
Due: trigger_frontend_pipeline

added mock users, linked posts and subgroups to users
  Code/api/api/models/CommentModel.py
  Code/api/api/models/PostModel.py
  Code/api/api/models/SubgroupModel.py
  Code/api/api/models/SubgroupUsersModel.py
  Code/api/api/models/UserModel.py
  Code/api/api/models/__init__.py
  Code/api/api/routes/Comments.py
  Code/api/api/routes/Subgroups.py
  Code/api/api/routes/User.py
  Code/api/api/routes/Users.py
  Code/api/api/routes/__init__.py
  Code/frontend/src/components/CreatePost/CreatePost.tsx
  Code/frontend/src/components/CreatePost/InputField.tsx
  Code/frontend/src/components/Post/CommentInput.tsx
  Code/frontend/src/screens/CreatePostScreen.tsx
  Code/frontend/src/screens/ProfileScreen.tsx
  Code/frontend/types.tsx
Due: trigger_frontend_pipeline, trigger_api_pipeline

updated pip requirements.txt
  Code/api/requirements.txt
Due: trigger_api_pipeline

small changes to homescreen styling
  .gitignore
  Code/frontend/src/components/CreatePost/InputField.tsx
  Code/frontend/src/components/Home/PostCard.tsx
  Code/frontend/src/screens/HomeScreen.tsx
Due: trigger_frontend_pipeline

implemented fetching, refreshing, and updating on load, focus, and blur
  Code/api/api/models/UsersJoinedSubgroupsModel.py
  Code/api/api/models/UsersUpvotedCommentsModel.py
  Code/api/api/models/UsersUpvotedPostsModel.py
  Code/api/api/routes/Comments.py
  Code/api/api/routes/Post.py
  Code/api/api/routes/Posts.py
  Code/api/api/routes/utils.py
  Code/frontend/.gitlab-ci.yml
  Code/frontend/App.tsx
  Code/frontend/UserContext.ts
  Code/frontend/src/components/CreatePost/CreatePost.tsx
  Code/frontend/src/components/Post/CommentInput.tsx
  Code/frontend/src/screens/HomeScreen.tsx
  Code/frontend/src/screens/ProfileScreen.tsx
  Code/frontend/types.tsx
Due: trigger_frontend_pipeline, trigger_api_pipeline

PostScreen navigation
  Code/frontend/babel.config.js
  Code/frontend/package-lock.json
  Code/frontend/package.json
  Code/frontend/src/components/Home/HeaderLeft.tsx
  Code/frontend/src/components/Home/PostCard.tsx
  Code/frontend/src/components/Home/PostsFeed.tsx
  Code/frontend/src/navigation/BottomTabNavigator.tsx
  Code/frontend/src/navigation/HomeDrawerNavigator.tsx
  Code/frontend/src/navigation/HomeStack.tsx
  Code/frontend/src/navigation/LinkingConfiguration.ts
  Code/frontend/src/screens/HomeScreen.tsx
  Code/frontend/src/screens/PostScreen.tsx
  Code/frontend/src/screens/ProfileScreen.tsx
  Code/frontend/types.tsx
Due: trigger_frontend_pipeline

modified gitignore and eslint for env variables
  Code/frontend/.eslintrc.js
  Code/frontend/.gitignore
Due: trigger_frontend_pipeline

added comment input and comment cards to post screen
  Code/api/api/routes/Comments.py
  Code/frontend/.eslintrc.js
  Code/frontend/package-lock.json
  Code/frontend/package.json
  Code/frontend/src/components/CreatePost/CreatePost.tsx
  Code/frontend/src/components/CreatePost/InputField.tsx
  Code/frontend/src/components/Home/HeaderLeft.tsx
  Code/frontend/src/components/Home/HeaderTitle.tsx
  Code/frontend/src/components/Home/PostCard.tsx
  Code/frontend/src/components/Post/CommentCard.tsx
  Code/frontend/src/components/Post/CommentInput.tsx
  Code/frontend/src/navigation/BottomTabNavigator.tsx
  Code/frontend/src/screens/CreatePostScreen.tsx
  Code/frontend/src/screens/HomeScreen.tsx
  Code/frontend/src/screens/PostScreen.tsx
  Code/frontend/types.tsx
Due: trigger_frontend_pipeline, trigger_api_pipeline

Adding changes from subgroup dropdown.
  Code/frontend/package-lock.json
  Code/frontend/package.json
  Code/frontend/src/components/CreatePost/CreatePost.tsx
Due: trigger_frontend_pipeline

removed rneui patch
  Code/frontend/patches/@rneui+base+4.0.0-rc.1.patch
  Code/frontend/src/components/CreatePost/CreatePost.tsx
  Code/frontend/src/components/CreatePost/InputField.tsx
  Code/frontend/types.tsx
Due: trigger_frontend_pipeline

added refining touches to subgroup screen (still lots to work on)
  Code/api/.flaskenv
  Code/api/Dockerfile-dev
  Code/api/scripts/docker_script.sh
  Code/docker-compose.yml
  Code/frontend/App.tsx
  Code/frontend/UserContext.ts
  Code/frontend/eas.json
  Code/frontend/src/components/CreatePost/CreatePost.tsx
  Code/frontend/src/components/Post/CommentCard.tsx
  Code/frontend/src/components/Post/CommentInput.tsx
  Code/frontend/src/screens/HomeDrawerScreen.tsx
  Code/frontend/src/screens/HomeScreen.tsx
  Code/frontend/src/screens/PostScreen.tsx
  Code/frontend/src/screens/ProfileScreen.tsx
  Code/frontend/src/screens/SubgroupScreen.tsx
  Code/frontend/src/screens/SubgroupsScreen.tsx
Due: trigger_frontend_pipeline, trigger_api_pipeline

changed lint to lintProd
  Code/frontend/.gitlab-ci.yml
Due: trigger_frontend_pipeline

fixed CreatePost imports and api tests
  Code/api/tests/test_post_model.py
  Code/frontend/src/components/CreatePost/CreatePost.tsx
Due: trigger_frontend_pipeline, trigger_api_pipeline

Update dummy data insertion
  Code/database/dummy_table_data.sql
Due: none

fixing frontend bugs
  Code/frontend/App.tsx
  Code/frontend/eas.json
  Code/frontend/package.json
  Code/frontend/src/screens/HomeDrawerScreen.tsx
Due: trigger_frontend_pipeline

Update usernames for dummy sql
  Code/database/dummy_table_data.sql
Due: none

refined features in CreatePostScreen and SubgroupScreen
  Code/api/api/routes/Posts.py
  Code/frontend/eas.json
  Code/frontend/src/components/CreatePost/CreatePost.tsx
  Code/frontend/src/components/CreatePost/InputField.tsx
  Code/frontend/src/components/Home/PostCard.tsx
  Code/frontend/src/components/Post/CommentCard.tsx
  Code/frontend/src/screens/HomeDrawerScreen.tsx
  Code/frontend/src/screens/PostScreen.tsx
  Code/frontend/src/screens/ProfileScreen.tsx
  Code/frontend/src/screens/SubgroupScreen.tsx
  Code/frontend/src/screens/SubgroupsScreen.tsx
Due: trigger_frontend_pipeline, trigger_api_pipeline

added a splash screen
  Code/frontend/App.tsx
  Code/frontend/package-lock.json
  Code/frontend/package.json
  Code/frontend/src/assets/animations/30304-back-to-school.json
Due: trigger_frontend_pipeline

Update README.md
  README.md
Due: none

added app icon and fixed bug to now only load posts of certain subgroup
  Code/api/api/routes/Posts.py
  Code/api/api/routes/utils.py
  Code/frontend/app.json
  Code/frontend/src/assets/images/appicon.png
Due: trigger_frontend_pipeline, trigger_api_pipeline

fixed subgroup loading posts bug again
  Code/api/api/routes/Subgroup.py
  Code/frontend/src/screens/SubgroupScreen.tsx
Due: trigger_frontend_pipeline, trigger_api_pipeline

fixed subgroup loading posts bug again
  Code/api/api/routes/Subgroup.py
  Code/frontend/src/components/Home/PostCard.tsx
Due: trigger_frontend_pipeline, trigger_api_pipeline

amend previous commits
  Code/api/api/routes/Subgroup.py
  Code/frontend/src/screens/SubgroupScreen.tsx
Due: trigger_frontend_pipeline, trigger_api_pipeline

fixed color and positioning issues of loading indicators
  Code/frontend/src/screens/HomeScreen.tsx
  Code/frontend/src/screens/SubgroupScreen.tsx
Due: trigger_frontend_pipeline

Path conditions:
  trigger_frontend_pipeline: any of: Code/frontend/**/*
  trigger_api_pipeline: any of: Code/api/**/*
